.ideas-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.ideas-main{
    width: 70%;
    min-height: 490px;
    /* border: 1px solid red; */
}

.card-idea{
    /* width: 80%; */
    min-height: 100px;
    margin-bottom: 10px;
}

.p-small-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.i-column{
    min-width: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.i-column-title{
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}

.i-column-text{
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
}

.ideas-flex-space-arround{
    display: flex;
    justify-content: space-around;
}

.add-btn{
    position: fixed;
    top: 570px;
    left: 1250px;
}

.ml-5{
    margin-left: 5px;
}

.no-ideas-cont{
    margin-top: 100px;
    width: 50%;
    height: auto;
    border-radius: 50%;
    background-color: #fce4ec;
    border: 1px dashed #2a3eb1;
}

.no-ideas-info{
    margin-top: 20px;
    width: 100%;
}

.no-ideas-btn{
    margin-top: 30px;
    padding-bottom: 50px;
}

.ideas-title{
    font-size: 26px;
    font-weight: 900;
}

.not-loged-in{
    margin-top: 150px;
}

.desc{
    max-width: 350px;
    text-align: justify;
}

@media(max-width: 861px){

    .add-btn{
        top: 560px;
        left: 365px;
    }

    .ideas-flex-space-arround{
        display: block;
    }

    .desc{
        max-width: 250px;
    }
}