.ideas-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.ideas-main{
    width: 70%;
    min-height: 490px;
}

.card-idea{
    min-height: 100px;
    margin-bottom: 10px;
}

.p-small-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.i-column{
    min-width: 120px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.mw300{
    width: 400px;
}

.delete-icon{
    position: absolute;
    margin-top: 20px;
    margin-left: 450px;
    opacity: 0.5;
}

.delete-icon :hover{
    cursor: pointer;
    opacity: 1;
}

.border-top{
    border-top: 1px solid #fce4ec;
}

.product-line .edit-delete-icon {
    margin-top: -20px;
    visibility: hidden;
}

.product-line:hover .edit-delete-icon{
    visibility: visible;
}

.i-column-title{
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}

.product-title{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.i-column-text{
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
}

.ideas-flex-space-arround{
    display: flex;
    justify-content: space-around;
}

.add-btn{
    position: fixed;
    top: 570px;
    left: 1250px;
}

.ml-5{
    margin-left: 5px;
}

.no-ideas-cont{
    margin-top: 100px;
    width: 50%;
    height: auto;
    border-radius: 50%;
    background-color: #fce4ec;
    border: 1px dashed #2a3eb1;
}

.no-ideas-info{
    margin-top: 20px;
    width: 100%;
}

.no-ideas-btn{
    margin-top: 30px;
    padding-bottom: 50px;
}

.ideas-title{
    font-size: 26px;
    font-weight: 900;
}

.not-loged-in{
    margin-top: 150px;
}

.desc{
    max-width: 90%;
    text-align: justify;
}

.ta-justify{
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

.mt-30{
    margin-top: 30px;
}

.create_project_form{
    margin-top: 40px;
}

.min-height{
    min-height: 120px;
}

.fadeOut{
    visibility: hidden;
    opacity: 0;
    transition: visibility 3s 6s, opacity 6s linear;
}
.fadeIn{
    opacity:1;
    visibility: visible;
    transition: visibility 3s 6s, opacity 6s linear;
}

.flex-lines{
    display: flex;
    justify-content: space-around;
}

.edit-icon{
    position: absolute;
    margin-left: 900px;
    margin-top: -50px;
}

@media(max-width: 861px){

    .add-btn{
        top: 560px;
        left: 365px;
    }

    .ideas-flex-space-arround, .flex-lines{
        display: block;
    }

    .desc{
        max-width: 250px;
    }

    .mw300{
        width: auto;
    }

    .delete-icon{
        margin-left: 55%;
        margin-top: -20px;
    }

    .edit-icon{
        margin-left: 250px;
    }
}