.details{
    margin-top: 190px;
}

.man-details{
    margin-top: 130px;
}

.img-container{
    opacity: 0;
}

.img-transition{
    opacity: 1;
    -webkit-transition: opacity 5s;
}

@media(min-width: 862px){
    .details{
        margin-top: 190px;
    }
}

@media(max-width: 861px){
    .details{
        margin-top: 150px;
    }
}